<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
    <style>
      h1{
        font-size: 100px;
        font-style: italic;
        text-align: center;
      }
      #userchoice
      {
        font-size: 30px;
        font-display: 100;
        background-color: rgb(255, 255, 255);
        
      }
      #userchoice:hover{
            background-color: rgb(148, 144, 142);
        }
    </style>
</head>
<body>
    <div>
        <h1>   Welcome to Todo App </h1>
        <button id="userchoice" type="button" value="Login">Login</button>
        <button id="userchoice" type="button" value="Sign-up">Sign-up</button>
    </div>


</body>
</html>